.textUnderline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, 0);
  width: 66px;
  height: 3px;
  background: #192F59;
}

.borderBox::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid #eee;
}

.alumniText {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
