
.opt{
    transition: 0.3s ease;
}



.optHover {
	background-color: rgb(243, 241, 241);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	/* box-shadow: 0 10px 20px rgba(87, 103, 199, 0.5); */
}
.optHover:hover {
	box-shadow: 0 10px 10px rgba(28, 44, 187, 0.4);
	transform: translateY(4px);
}
.optHover:active {
	box-shadow: 0 5px 5px rgba(59, 56, 55, 0.1);
	transform: translateY(5px);
}

.textUnderline::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, 0);
    width: 66px;
    height: 3px;
    background: rgb(27, 41, 69);
  }

  .imgShadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }