@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: auto !important;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-background;
}

/* Resets all a tag styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Global Inline padding */
.gip {
  padding-inline: max(2.5rem, calc((100vw - 1400px) / 2));
}
.gim {
  margin-inline: max(2.5rem, calc((100vw - 1400px) / 2));
}
